* {
    font-family: Helvetica;
    margin: 0 auto;
}

#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

a {
    position: relative;
    background-color: #FFD700;
    padding: 21.5px 90px;
    text-decoration: none;
    text-transform: uppercase;
}

.playBoxSpieler {
    position: relative;
    overflow: hidden;
    margin: auto;
    min-width: 40px;
    height: 200px;
    padding-bottom: 25px;
    border: white solid 3px;
    border-style: dotted;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 50px;
}

#cardBoxSpieler {
    float: left;
    position: relative;
    margin-top: -20px;
    margin-left: -20px;
}

.playBoxDealer {
    position: relative;
    overflow: hidden;
    margin: auto;
    min-width: 40px;
    height: 200px;
    padding-bottom: 25px;
    border: white solid 3px;
    border-style: dotted;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 50px;
}

.game {
    position: absolute;
    height: 100%x;
    background: #1c7921;
    border: black solid 5px;
    border-radius: 8px;
    text-align: center;
}

.optionBox {
    display: block;
    margin: 0 auto;
}

.btn {
    width: 250px;
    height: 60px;
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
}

.btn:hover {
    background: rgb(43, 206, 57);
}

h1 {
    background: white;
    color: black;
}

.tryAgain {
    display: flex;
    position: absolute;
    font-size: 55px;
    height: 500px;
    width: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background: rgb(85, 85, 85, 0.8);
    border-radius: 50%;
    border: white dashed 38px;
    transition: all 0.5s ease;
    opacity: 0.8;
    text-align: center;
    padding: 80px 80px;
}

.txt {
    opacity: 1 !important;
    color: white;
}

#overlay {
    opacity: 1 !important;
    color: white;
}

.betBtn {
    width: 30%;
    position: absolute;
    top: 1280px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.tryAgain_bottom {
    width: 500px;
    height: 500px;
    font-size: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(85, 85, 85, 0.8);
    border-radius: 50%;
    position: absolute;
    border: white dashed 38px;
    transition: all 0.5s ease;
    opacity: 0.9;
    z-index: 1000;
    text-align: center;
    padding: 80px 80px;
}

#centerbtn {
    position: absolute;
    top: 80%;
    left: 30%;
    border: black dashed 1px;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    .tryAgain {
        width: 400px;
        height: 400px;
        font-size: 20px;
        left: 0;
        right: 0;
        margin-top: auto;
        margin-bottom: -50px;
        margin-left: auto;
        margin-right: auto;
        background: rgb(85, 85, 85, 0.8);
        border-radius: 50%;
        position: absolute;
        border: white dashed 38px;
        transition: all 0.5s ease;
        opacity: 0.9;
        z-index: 1000;
        text-align: center;
        padding: 80px 80px;
    }

    .tryAgain_bottom {
        width: 400px;
        height: 400px;
        font-size: 30px;
        bottom: 5%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background: #555;
        border-radius: 50%;
        position: absolute;
        border: white dashed 38px;
        transition: all 0.5s ease;
        display: table-cell;
        overflow: visible;
        text-align: center;
        vertical-align: middle;
        opacity: 0.9;
    }

    #centerbtn {
        position: absolute;
        width: 30%;
        height: 40px;
        top: 75%;
        left: 36%;
        border: black dashed 1px;
        border-radius: 5px;
    }
}

.tryAgain.flat:hover {
    transform: rotate(360deg) !important;
    color: white;
}

#jetons {
    position: relative;
    bottom: 200px;
    margin-left: 50px;
    width: 250px;
}

.ausgabeDeck {
    background-color: white;
    width: 140px;
    border-radius: 5px;
    position: absolute;
    margin-top: 280px;
    font-size: 15px;
    text-align: center;
    padding: 20px;
}

#deinEinsatz {
    background-color: white;
    width: 70%;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    line-height: 120%;
    padding-bottom: 60px;
    padding-top: 60px;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.35), 0 1px 20px 0 rgb(65, 63, 63, 0.61), 0 12px 8px -5px rgb(0, 0, 0, 0.25);
}

#casinoDeck {
    position: absolute;
    margin-top: 20px;
    float: left;
    margin-left: 29px;
    border-radius: 10px;
    width: 200px;
    height: 270px;
    background-image: url(../img/cardBack.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.gameInfo {
    box-shadow: -1px 4px 19px -5px #383838;
    background-color: white;
    font-size: 16px;
    padding: 12px 15px;
    text-decoration: none;
    right: 0;
    width: 150px;
    height: 25%;
    margin-top: 400px;
    margin-left: 29px;
    border-radius: 5px;
    line-height: 120%;
    float: left;
}

.infoPunkte {
    box-shadow: -1px 4px 19px -5px #383838;
    background-color: #ffffff;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    margin-top: 20px;
}

#einsatz {
    margin-top: 620px;
}

